body {
	overflow-y: scroll;
}

footer {
	background: #fafafa;
	color: #999999;
	font-size: 12px;
	border-top: 1px solid #eee;
	margin: 10px 0;
	padding-top: 10px;
	border-top: 1px solid #EEE;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

.jumbotron{background: #FFF; padding: 0; }
#printBtn,#downBtn{width: 100%;margin: 10px 0 0 0; font-size: 15px !important; }

btn { font-size: 14px !important; }

h1 { font-size: 46px !important; }
h2 { font-size: 24px; }

.cvbtn {
	padding: 5px 0;
}

.page-header { 
	border: 0;
	margin-bottom: 0;
}

li.list-group-item:hover,
li.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.thumbnail {
  padding: 6px;
  margin-right: 6px;
}

span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline !important;
}
