body {
	/*padding-top: 60px;*/
	overflow-y: scroll;
}

/*@media (max-width: 979px) {
	body {
		padding-top: 0px !important;
	}
}*/

footer {
	background: #fafafa;
	color: #999999;
	font-size: 12px;
	border-top: 1px solid #eee;
	margin: 10px 0;
	padding-top: 10px;
	border-top: 1px solid #EEE;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

/*.navbar-inner > .container {
	padding: 0 !important;
}*/

/*.container {padding: 20px 0 0 0}*/
.jumbotron{background: #FFF; padding: 0; }
/*.page-header{clear: both; }*/
/*.carousel-inner img{height: 300px; width: 100%}*/
#printBtn,#downBtn{width: 100%;margin: 10px 0 0 0; font-size: 15px !important; }

btn { font-size: 14px !important; }

h1 { font-size: 46px !important; }
h2 { font-size: 24px; }

/*.span3 {
  width: 220px !important;
}*/

.cvbtn {
	padding: 5px 0;
}
