<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andrej Cimperšek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Andrej Cimperšek">
    <meta name="author" content="Andrej Cimperšek, cimpersek.andrej@gmail.com">
	<meta name="keywords" content="Andrej Cimperšek, cime, software engineer" />
	
	<a style="display:none;" href="https://plus.google.com/107646601204650538556" rel="publisher">Google+</a>

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/print.css" rel="stylesheet" media="print">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body ng-app="app">
	<div ng-controller="MainCtrl">
	  
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-init="page = 'home'">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <span class="navbar-brand">Andrej Cimperšek</span>
			</div>
			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav" id="main-nav">
				<li><a href="#!/about" active-link active-link-parent><i class="fa fa-user"></i> About</a></li>
				<li><a href="#!/blog" active-link active-link-parent><i class="fa fa-pencil"></i> Blog</a></li>
				<li><a href="#!/projects" active-link active-link-parent><i class="fa fa-list"></i> Projects</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="mailto:cimpersek.andrej@gmail.com" title="Email"><i class="fa fa-envelope"></i> <span class="hidden-sm hidden-md hidden-lg"> Email</span></a></li>
				<li><a href="https://plus.google.com/+AndrejCimpersek/" title="Google+"><i class="fa fa-google-plus-square"></i> <span class="hidden-sm hidden-md hidden-lg"> Google+</span></a></li>
				<li><a href="http://si.linkedin.com/in/candrej" title="LinkedIn"><i class="fa fa-linkedin"></i> <span class="hidden-sm hidden-md hidden-lg"> LinkedIn</span></a></li>
				<li><a href="http://twitter.com/cime" title="Twitter"><i class="fa fa-twitter"></i> <span class="hidden-sm hidden-md hidden-lg"> Twitter</span></a></li>
				<li><a href="https://github.com/cime" title="GitHub"><i class="fa fa-github"></i> <span class="hidden-sm hidden-md hidden-lg"> GitHub</span></a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>

		<div class="container {{pageClass}}" ng-view>
			
		</div> <!-- /container -->
	</div>
		
	<footer class="noPrint">
		<div class="container">
			<p>Copyright © 2012-2014 All Rights Reserved</p>
		</div>
	</footer>

	<script type="text/template" id="repo-template">
		<h4 class="list-group-item-heading"><%= name %><small>(<a href="<%= html_url %>">'<%= html_url %></a>)</small></h4>
		<p class="list-group-item-text"><%= description %></p>
		<p class="list-group-item-text"><small>Language: <strong>'<%= language %></strong></small></p>
		<small><i class="fa fa-git"></i><%= git_url %></small>
	</script>
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
	<script src="js/app.js"></script>

  </body>
</html>
